<%- include('./partials/header', {otherCSSFile: "thanks", otherJSFile: "thanks"}) %>
<div class="thanks-container">
    <img src="/img/thanks.jpg" alt="<%= t('pages.thanks.imageAlt') %>" class="thanks-img">
    <h1 class="main-thanks-message"><%= t('common.messages.success.thanks.main') %></h1>
    <p class="sub-thanks-message"><%= t('common.messages.success.thanks.sub') %></p>
</div>
<%- include('./partials/footer') %>
