<%- include('./partials/header', {otherCSSFile: "contact" , otherJSFile: "contact" }) %>
    <div class="contact-infos-container">
        <div class="infos">
            <h1 class="infos__title"><%= t('pages.contact.info.title') %></h1>
            <div class="bio">
                <h2 class="bio__title"><%= t('pages.contact.info.bio.title') %></h2>
                <div class="bio__content">
                    <p class="bio__intro contact-infos-container__text">
                        <%- t('pages.contact.info.bio.intro').replace(/\n/g, '<br>') %>
                    </p>
                    <ul class="bio__availabilities contact-infos-container__text">
                        <p><%= t('pages.contact.info.bio.availabilities.title') %></p>
                        <li><%= t('pages.contact.info.bio.availabilities.items.0') %></li>
                        <li><%= t('pages.contact.info.bio.availabilities.items.1') %></li>
                        <li><%= t('pages.contact.info.bio.availabilities.items.2') %></li>
                        <li><%= t('pages.contact.info.bio.availabilities.items.3') %></li>
                        <li><%= t('pages.contact.info.bio.availabilities.items.4') %></li>
                        <li><%= t('pages.contact.info.bio.availabilities.items.5') %></li>
                        <li><%= t('pages.contact.info.bio.availabilities.items.6') %></li>
                    </ul>
                    <p class="bio__outro contact-infos-container__text">
                        <%- t('pages.contact.info.bio.outro').replace(/\n/g, '<br>') %>
                    </p>
                </div>
            </div>
            <div class="personal-contacts">
                <h2 class="personal-contacts__title"><%= t('pages.contact.info.personalContacts.title') %></h2>
                <ul class="personal-contacts__list contact-infos-container__text">
                    <li>
                        <%= t('pages.contact.info.personalContacts.phone') %>
                    </li>
                    <li>
                        <%= t('pages.contact.info.personalContacts.email') %>
                    </li>
                    <li>
                        <%= t('pages.contact.info.personalContacts.cv.text') %>
                        <a href="/cv" class="cv-link" target="_blank">
                            <%= t('pages.contact.info.personalContacts.cv.link') %>
                        </a>
                        <%= t('pages.contact.info.personalContacts.cv.description') %>
                    </li>
                </ul>
            </div>
        </div>
        <form
          action="<%= getPageUrl('contact') %>"
          method="post"
          class="contact-form">
            <h1 class="contact-form__title"><%= t('components.contact-form.title') %></h1>
            <h3 class="contact-infos-container__text">
                <%= t('components.contact-form.instruction') %>
            </h3>
            <div class="contact-form__field">
                <label for="name"><%= t('components.contact-form.fields.name.label') %></label>
                <input class="contact-infos-container__text
                <% if (alertMsgPerInput.has('name')) { %>
                with-alert
                <% } %>" 
                value="<%= nameInput %>" 
                type="text" 
                placeholder="<%= t('components.contact-form.fields.name.placeholder') %>" 
                name="name">
                <% if (alertMsgPerInput.has('name')) { %>
                    <p class="alert-message">
                        <i>
                            <%= t('common.messages.validation.required.name') %>
                        </i>
                    </p>
                <% } %>
            </div>
            <div class="contact-form__field">
                <label for="email"><%= t('components.contact-form.fields.email.label') %></label>
                <input class="contact-infos-container__text
                <% if (alertMsgPerInput.has('email')) { %>
                with-alert
                <% } %>" 
                value="<%= emailInput %>" 
                type="text" 
                placeholder="<%= t('components.contact-form.fields.email.placeholder') %>" 
                name="email">
                <% if (alertMsgPerInput.has('email')) { %>
                    <p class="alert-message">
                        <i>
                            <%= alertMsgPerInput.get('email').includes('valid') ? 
                                t('common.messages.validation.invalid.email') : 
                                t('common.messages.validation.required.email') %>
                        </i>
                    </p>
                <% } %>
            </div>
            <div class="contact-form__field">
                <label for="telephone"><%= t('components.contact-form.fields.telephone.label') %></label>
                <input class="contact-infos-container__text" 
                    value="<%= telephoneInput %>" 
                    type="tel"
                    placeholder="<%= t('components.contact-form.fields.telephone.placeholder') %>" 
                    name="telephone">
            </div>
            <div class="contact-form__field">
                <label for="website"><%= t('components.contact-form.fields.website.label') %></label>
                <input class="contact-infos-container__text" 
                    value="<%= websiteInput %>" 
                    type="text"
                    placeholder="<%= t('components.contact-form.fields.website.placeholder') %>" 
                    name="website">
            </div>
            <div class="contact-form__field">
                <label for="message"><%= t('components.contact-form.fields.message.label') %></label>
                <textarea name="message" 
                    cols="20" 
                    rows="5" 
                    class="contact-infos-container__text
                    <% if (alertMsgPerInput.has('message')) { %>
                    with-alert
                    <% } %>" 
                    placeholder="<%= t('components.contact-form.fields.message.placeholder') %>"><%= messageInput %></textarea>
                <% if (alertMsgPerInput.has('message')) { %>
                    <p class="alert-message">
                        <i>
                            <%= t('common.messages.validation.required.message') %>
                        </i>
                    </p>
                <% } %>
            </div>
            <button type="submit"><%= t('components.contact-form.submit') %></button>
        </form>
    </div>
<%- include('./partials/footer') %>
