<!DOCTYPE html>
<html lang="<%= currentLang %>">

<head>
    <!-- Language alternates -->
    <link
      rel="alternate"
      hreflang="fr"
      href="https://laurentxdubois.com<%= languageUrls.fr %>">
    <link
      rel="alternate"
      hreflang="en"
      href="https://laurentxdubois.com<%= languageUrls.en %>">
    <link
      rel="alternate"
      hreflang="x-default"
      href="https://laurentxdubois.com">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta
        name="keywords"
        content="<%= t('common.meta.keywords') %>" />
    <meta
        name="description"
        content="<%= locals.pageDescription || t('common.meta.defaultDescription') %>" />
    <title>
        <%= locals.pageTitle || t('common.meta.defaultTitle') %>
    </title>
    <link
        href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400|
              Marcellus+SC|Lato:100,300,400,700|Quicksand:300,400|
              Source+Code+Pro:200,300,400|Open+Sans:400,300|Roboto:400,100,300"
        rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
        async
        src="https://www.googletagmanager.com/gtag/js?id=<%= googleAnalyticsMeasurementId %>">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag(
            'config',
            '<%= googleAnalyticsMeasurementId %>',
            {'cookie_flags': 'SameSite=None;Secure'}
        );
    </script>
    <script type="module" src="/js/header.js" defer></script>
    <script type="module" src="/js/menu-open.js" defer></script>
    <% if (locals.otherCSSFile) { %>
        <link rel="stylesheet" href="/css/<%= otherCSSFile %>.css" />
    <% } %>
    <% if (locals.otherJSFile) { %>
        <script type="module" src="/js/<%= otherJSFile %>.js" defer></script>
    <% } %>

    <!-- Primary Meta Tags for Google Search -->
    <meta
      name="title"
      content="<%= locals.pageTitle || t('common.meta.defaultTitle') %>">
    <meta
      name="description"
      content="<%= locals.pageDescription || t('common.meta.defaultDescription') %>">
    <meta
      name="robots"
      content="index, follow">
    <meta
      name="googlebot"
      content="index, follow">
    <link rel="canonical" href="https://laurentxdubois.com<%= path %>">

    <!-- Open Graph / Facebook -->
    <meta
      property="og:type"
      content="website">
    <meta
      property="og:url"
      content="https://laurentxdubois.com<%= path %>">
    <meta
      property="og:title"
      content="<%= locals.pageTitle || t('common.meta.defaultTitle') %>">
    <meta
      property="og:description"
      content="<%= locals.pageDescription || t('common.meta.defaultDescription') %>">
    <meta
      property="og:image"
      content="https://laurentxdubois.com/img/laurent-profile.jpg">
    <meta
      property="og:image:alt"
      content="<%= t('common.meta.imageAlt') %>">
    <meta
      property="og:image:width"
      content="1200">
    <meta
      property="og:image:height"
      content="630">
    <meta
      property="og:locale"
      content="<%= currentLang === 'fr' ? 'fr_FR' : 'en_US' %>">
    <meta property="og:site_name" content="Laurent X. Dubois">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta
      name="twitter:title"
      content="<%= locals.pageTitle || t('common.meta.defaultTitle') %>">
    <meta
      name="twitter:description"
      content="<%= locals.pageDescription || t('common.meta.defaultDescription') %>">
    <meta
      name="twitter:image"
      content="https://laurentxdubois.com/img/laurent-profile.jpg">
    <meta
      name="twitter:image:alt"
      content="<%= t('common.meta.imageAlt') %>">

    <!-- Pour les articles/blog posts (à conditionner selon le type de page) -->
    <% if (locals.isArticle) { %>
      <meta property="article:published_time" content="<%= locals.publishDate %>">
      <meta property="article:modified_time" content="<%= locals.modifiedDate %>">
      <meta property="article:author" content="Laurent X. Dubois">
      <meta property="article:section" content="<%= locals.articleSection %>">
      <meta property="article:tag" content="<%= locals.articleTags %>">
      
      <!-- Override le type pour les articles -->
      <meta property="og:type" content="article">
    <% } %>

    <!-- Schema.org for Google -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "<%= locals.isArticle ? 'Article' : 'WebPage' %>",
      "name": "<%= locals.pageTitle || t('common.meta.defaultTitle') %>",
      "description": "<%= locals.pageDescription || t('common.meta.defaultDescription') %>",
      "url": "https://laurentxdubois.com<%= path %>",
      "image": {
        "@type": "ImageObject",
        "url": "https://laurentxdubois.com/img/laurent-profile.jpg",
        "width": "1200",
        "height": "630"
      },
      "publisher": {
        "@type": "Organization",
        "name": "Laurent X. Dubois Photography",
        "logo": {
          "@type": "ImageObject",
          "url": "https://laurentxdubois.com/img/laurent-profile.jpg"
        }
      }<% if (locals.isArticle) { %>,
      "articleSection": "<%= locals.articleSection %>",
      "keywords": "<%= locals.articleTags %>",
      "datePublished": "<%= locals.publishDate %>",
      "dateModified": "<%= locals.modifiedDate %>",
      "author": {
        "@type": "Person",
        "name": "Laurent X. Dubois"
      }
      <% } %>
    }
    </script>

</head>

<body>
    <header class="header">
        <div class="burger-button">
            <div class="burger"></div>
        </div>
        <ul class="menu-nav">
            <li class="menu-nav__item menu-nav__item-with-dropdown">
                <a href="#" onclick="return false;" class="menu-nav__link">
                    <%= t('components.navigation.menu.fashion.title') %>
                </a>
                <ul class="menu-nav__dropdown-menu">
                    <li class="menu-nav__dropdown-item">
                        <a href="<%= getPageUrl('fashionWeek1') %>" class="menu-nav__link">
                            <%= t('components.navigation.menu.fashion.submenu.fashionWeek1') %>
                        </a>
                    </li>
                    <li class="menu-nav__dropdown-item">
                        <a href="<%= getPageUrl('fashionWeek2') %>" class="menu-nav__link">
                            <%= t('components.navigation.menu.fashion.submenu.fashionWeek2') %>
                        </a>
                    </li>
                    <li class="menu-nav__dropdown-item">
                        <a href="<%= getPageUrl('portraits') %>" class="menu-nav__link">
                            <%= t('components.navigation.menu.fashion.submenu.portraits') %>
                        </a>
                    </li>
                    <li class="menu-nav__dropdown-item">
                        <a href="<%= getPageUrl('projects') %>" class="menu-nav__link">
                            <%= t('components.navigation.menu.fashion.submenu.projects') %>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu-nav__item">
                <a href="<%= getPageUrl('agencyTest') %>" class="menu-nav__link">
                    <%= t('components.navigation.menu.agencyTest') %>
                </a>
            </li>
            <li class="menu-nav__item">
                <a href="<%= getPageUrl('editorial') %>" class="menu-nav__link">
                    <%= t('components.navigation.menu.editorial') %>
                </a>
            </li>
            <li class="menu-nav__item">
                <a href="<%= getPageUrl('contact') %>" class="menu-nav__link">
                    <%= t('components.navigation.menu.contactAndInfo') %>
                </a>
            </li>
        </ul>
        <div class="logo">
            <a href="<%= getPageUrl('home') %>">
                <h1 class="logo__title"><%= t('components.header.title') %></h1>
                <h2 class="logo__subtitle"><%= t('components.header.location') %></h2>
            </a>
            <div class="logo__social-media">
                <a href="https://www.instagram.com/laurentxdubois/" target="_blank">
                    <%= t('components.header.socialMedia.instagram') %>
                </a>
                -
                <a href="https://www.youtube.com/channel/UCBKdjX7ZbqgZmNYWaU3izsw" target="_blank">
                    <%= t('components.header.socialMedia.youtube') %>
                </a>
            </div>
            <div class="logo__lang-switcher">
                <a href="<%= languageUrls.fr %>"
                   class="logo__lang-link <%= locals.currentLang === 'fr' ? 'active' : '' %>">
                    <img src="/img/logos/french-flag.svg" 
                         alt="<%= t('components.header.languageSwitcher.frenchFlag') %>" 
                         class="logo__lang-icon">
                    <span><%= t('components.header.languageSwitcher.fr') %></span>
                </a>
                <span class="logo__lang-separator">|</span>
                <a href="<%= languageUrls.en %>"
                   class="logo__lang-link <%= locals.currentLang === 'en' ? 'active' : '' %>">
                    <img src="/img/logos/english-flag.svg" 
                         alt="<%= t('components.header.languageSwitcher.englishFlag') %>" 
                         class="logo__lang-icon">
                    <span><%= t('components.header.languageSwitcher.en') %></span>
                </a>
            </div>
        </div>
    </header>
